{% extends 'csoLab/csoLabBasic.html' %}
<!-- title -->
{%block title%} Representation of Floating Point Numbers and their Arithmetic {% endblock %}
{% block introduction%}
{% load static %}
<!-- theory content -->
<h4>Floating Point Numbers Representation</h4>
<p>Many scientific applications involve computations involving just not integers but also real numbers. In computers we
    cannot precisely represent all of the real numbers. However we can still have a useful and effective representation
    of them with certain loss in precision.
    <br>
    In this lab we shall understand the basic concepts of Floating Point Numbers and their conversion to and from
    decimal form.</p>

{%endblock%}
{% block theory %}
<!-- objective conteent -->
<h4>Floating Point Numbers Representation</h4>
<p>A brief introduction is to IEEE Standard for floating point representation of numbers is provided a quick tutorial in
    the experiment itself.</p>
{% endblock %}
{% block objective %}
<!-- procedure content -->
<h4>Floating Point Numbers Representation</h4>
<p>The objective of this experiment is to learn the fundamentals of Floating Point Representation of Numbers. </p>
{% endblock %}
{% block procedure %}
<!-- procedure content -->
<h4>Floating Point Numbers Representation</h4>
<p>Procedure is also explained in the experiment.
</p>
{% endblock %}

{% block experiment %}
<!-- experiment content -->
<h4>Floating Point Numbers Representation</h4>
<strong>Prerequeties</strong>
<p><strong>- This lab requires few Software Dependencies to run the Simulations</strong></p>
<ul>
    <li>Adobe Flash Plugin, Java1.7</li>
    <li>Browsers Firefox 50 and it's below versions, internet explorer.
    </li>
    <li>IcedTea Plugin for Linux Operating System.
    </li>
</ul>
<strong>- We recommend the following for the smooth running of these simulations
</strong>
<ul>
    <li>Install Adobe Flash Plugin - This will enable you to run the experiments that need Flash support. Please follow
        the link to install the Flash Plugin
    </li>
    <li>Install VirtualBox - Virtual Labs offers a free download of a customized VirtualBox with the required pre
        installed all the software dependencies(Java 1.7, IcedTea Plugin and Adobe Flash Plugin). Please follow the link
        to download, install and use
    </li>
</ul>
<p>To download please cilck on the <a href="{%static 'csoLab/'%}">link</a></p>
{% endblock %}