{% extends 'csoLab/csoLabBasic.html' %}
<!-- title -->
{%block title%} ARM Assembly Language Programming - 1 {% endblock %}
{% block introduction%}
<!-- theory content -->
<h4>ARM Assembly Language Programming
</h4>
<p>A High Level Programming Language like C provides <strong>abstractions</strong> to program an underlying computing
    system. The following is a broad classification of various abstractions.
</p>
<ul>
    <li><strong>Data Abstractions:</strong> Data Abstractions provide certain primitive data types like int, float, char
        etc. and a mechanism (like structures, arrays etc.) to hierarchilaly compose the primitive data types to create
        new abstract data types.
    </li>
    <li><strong>Data Processing Abstractions:</strong> Data Processing Abstractions provide operations (like addition,
        multiplication, comparison etc.) which act on the primitive data types which can again be composed to act on
        user-defined data types.</li>
    <li><strong>Control Abstractions:</strong> Control abstractions include language features like
        conditional/unconditional goto, if-then-else, for-loop, while-loop etc. A language which doesn't support at
        least one these Control Abstractions will not be Turing Complete which means there exists certain functions
        which are not computable using the language features alone.</li>
    <li><strong>Procedural Abstraction:</strong> Procedures allows a user to define his/her own operation to act upon
        primitive or user defined data types. Further it allows modular development of programs enabling software
        readability, maintainability and efficiency also.</li>
    <li><strong>More Abstractions:</strong> Object-oriented languages like C++ and Java provide features like classes,
        inheritance, polymorphism etc. Similary different langugages can provide different sets of abstraction depending
        upon their design philosophy and utility.
        In this assignment and in the next few we shall learn how to implement these High Level Language Abstractions in
        the ARM Assembly Language.</li>
</ul>
{%endblock%}
{% block theory %}
<!-- objective conteent -->
<h4>ARM Assembly Language Programming
</h4>
<p>A complete description of ARM ISA is available here. The syntax rules and directives you have to follow while
    writting ARM programs is very similar to that of GNU ARM assembler conventions. The list of assembler directives
    that our simulator supports are available in the <strong>help</strong> section of the simulator. An assembly program
    typically contains a <strong>data section</strong> sand <strong> text section</strong>. In the data section memory
    for global variables and static local variables would be allocated. In the text section, the actual sequence of
    instructions reside. Finally there will be a program stack for which no explicit declaration is necessary. Program
    stack is useful for allocating memory to local variables and handling procedure calls. Sample programs to get
    started with, are available as a part of the simulator.
</p>
{% endblock %}
{% block objective %}
<!-- procedure content -->
<h4>ARM Assembly Language Programming
</h4>
<p>The following are the objectives of this series of assignments.
</p>
<ul>
    <li>Introduce the structure of an assembly language program.
    </li>
    <li>Introduce assembly directives to allocate memory in the data section.
    </li>
    <li>Introduce the idea that ARM is a Load-Store Architecture and data has to be moved to registers before any
        operations can be performed on them.
    </li>
    <li>Difference between signed and unsigned Arithmetic.
    </li>
    <li>What if there are program constants whose size is greater than 16 bits?
    </li>
    <li>How to convert a complex expression into an assembly program evaluating that expression?
    </li>
    <How to translate if-then-else statements into assembly?>
        </li>
        <li>How to write loops in assembly?
        </li>
</ul>
{% endblock %}
{% block procedure %}
<!-- experiment content -->
<h4>ARM Assembly Language Programming
</h4>
<p>Procedure is explained in the Simulation.
</p>
{% endblock %}
{% block experiment %}
<!-- software content -->
<h4>ARM Assembly Language Programming
</h4>
<strong>Prerequeties</strong>
            <p><strong>- This lab requires few Software Dependencies to run the Simulations</strong></p>
            <ul>
                <li>Adobe Flash Plugin, Java1.7</li>
                <li>Browsers Firefox 50 and it's below versions, internet explorer.
                </li>
                <li>IcedTea Plugin for Linux Operating System.
                </li>
            </ul>
            <strong>- We recommend the following for the smooth running of these simulations
            </strong>
            <ul>
                <li>Install Adobe Flash Plugin - This will enable you to run the experiments that need Flash support.
                    Please follow
                    the link to install the Flash Plugin
                </li>
                <li>Install VirtualBox - Virtual Labs offers a free download of a customized VirtualBox with the
                    required pre
                    installed all the software dependencies(Java 1.7, IcedTea Plugin and Adobe Flash Plugin). Please
                    follow the link
                    to download, install and use
                </li>
            </ul>
            {%load static%}
            <p>To download please cilck on the <a href="{%static 'csoLab/ArmSimulator.jar'%}" download>link</a></p>
{% endblock %}