{% extends 'csoLab/csoLabBasic.html' %}
<!-- title -->
{%block title%} Single Cycle MIPS CPU {% endblock %}
{% block introduction%}
<!-- theory content -->
<h4>Single Cycle
</h4>
<p>There are multiple approaches for CPU design.
</p>
<ul>
    <li>Single Cycle
    </li>
    <li>Mutiple Cycle
    </li>
    <li>Pipelined</li>
</ul>
<p>In this lab we shall understand the Single Cycle CPU design for a subset of instructions from the MIPS ISA.
</p>
{%endblock%}
{% block theory %}
<!-- objective conteent -->
<h4>Single Cycle
</h4>
<ul>
    <li>In Single Cycle CPU design approach each instruction takes exactly one clock cycle to execute.
    </li>
    <li>In Multicycle CPU each instruction multiple clock cycles to execute.
    </li>
    <li>In Pipelined approach instruction execution takes place in a overlapped fashion.
    </li>
</ul>
<p>The instructions supported by the Single Cycle cpu in our experiment and how to microcode new instructions are all
    given as a part of the experiment itself.
</p>
{% endblock %}
{% block objective %} 
                <!-- procedure content -->
                <h4>Single Cycle
                </h4>
                <p>The objective of this experiment is to learn the design principles behind a Single Cycle CPU using a subset of MIPS ISA as example.
                </p>
                {% endblock %}
                {% block procedure %} 
                <!-- experiment content -->
                <h4>Single Cycle
                </h4>
                <p>Procedure is also explained in the experiment.
                </p>
                {% endblock %}
                {% block experiment %} 
                <!-- software content -->
                <h4>Single Cycle
                </h4>
                {%load static%}
                <strong>Prerequeties</strong>
<p><strong>- This lab requires few Software Dependencies to run the Simulations</strong></p>
<ul>
    <li>Adobe Flash Plugin, Java1.7</li>
    <li>Browsers Firefox 50 and it's below versions, internet explorer.
    </li>
    <li>IcedTea Plugin for Linux Operating System.
    </li>
</ul>
<strong>- We recommend the following for the smooth running of these simulations
</strong>
<ul>
    <li>Install Adobe Flash Plugin - This will enable you to run the experiments that need Flash support.
        Please follow
        the link to install the Flash Plugin
    </li>
    <li>Install VirtualBox - Virtual Labs offers a free download of a customized VirtualBox with the
        required pre
        installed all the software dependencies(Java 1.7, IcedTea Plugin and Adobe Flash Plugin). Please
        follow the link
        to download, install and use
    </li>
</ul>

                <p>Please cilck on the <a href="{%static 'csoLab/v19.swf'%}" download>link</a> to download</p>
                {% endblock %} 

