{% extends 'beLab/basic.html'%}

{%block title%} VI Characteristics of a Diode {% endblock %}

{% load static %}
{% block tutorial %}

{%endblock%}


{% block procedure %}

{% endblock %}

{% block simulation %}
<h4>Click on the followings tab to redirect to simulation</h4>

<a href="/beLab/diode1" target="blank">
    <h4><span class="badge badge-info">Forward Bias Silicon Diode</span></h4>
</a>
<a href="/beLab/diode2" target="blank">
    <h4><span class="badge badge-info">Reverse Bias Sillicon Diode</span></h4>
</a>
    
{% endblock %}