{% extends 'phpLab/basic.html' %}

{%block title%} {% endblock %}

{% block aim %}
<!-- aim content -->
<h4>Mysql Database</h4>
<hr>
<h4>Aim</h4>
<p>The aim of this experiment is to understand working with database and performing basic operations with mysql database using PHP. <br>
    The Learner will be able to:</p>
    <ul>
        <li>write simple php scripts for various database operations like add, delete, modify and search operations.</li>
        <li>describe the script at server side and client side for database operations.</li>
    </ul>
{%endblock%}

{% block theory %}
<!-- theory conteent -->
<h4>Mysql Database</h4>
<hr>
<h4>Theory</h4>
<b>1.1 What is Mysql?</b>
<p>MySQL is the de-facto standard database system for web sites with huge volumes of data and end-users (like Facebook, Twitter, and Wikipedia). It can be scaled down to support embedded database applications.</p>
<b>1.2 PHP and Mysql</b>
<p>PHP works with virtually all database softwares including Oracle and Sybase. But MySQL database is most commonly used and is freely available. <br>
    PHP allows developers to interact with databases in two ways: <br>
    1.customized database-specific extension, <br>
    2.database-neutral PHP Data Objects (PDO) extension. <br>
    Though the PDO extension is more portable, many developers prefer to use the native database extension.The reason being that the native extension offers better performance and more features than the PDO version. <br>
    PHP has offered out-of-the-box support for MySQL since PHP 3 by making sure that the two packages work together seamlessly and smoothly. In addition to supporting MySQL through the PDO extension, PHP also includes a custom MySQL extension named MySQL Improved (MySQLi). This extension provides both speed and feature benefits over the PDO version and is a good choice for MySQL-specific development projects.</p>
<b>1.3 MySQLi</b>
<p>The MySQLi extension is designed to work with MySQL version 4.1.13 or new version. The MySQLi extension is introduced with PHP version 5.0.0. The MySQL Native Driver is included in PHP version 5.3.0.</p>
<b>1.4 Basic requirements</b>
<p>One should be well versed with MySQL basics to understand this experiment. <br>
    Download and install latest version of MySQL. <br>
    Default database user 'root' with password "". <br>
    Created database named 'TestDB' in MYSQL.</p>
    <b>1.5 Working with Mysql</b>
    <p>1. Create a connection object using <br>
        $mysqli=new mysqli("server", "user", "password", "databaseName") <br>
        2. Check a connection <br>
        if ($mysqli === false) { <br>
        die("ERROR: Could not connect. " . mysqli_connect_error()); <br>
        }else{ //work with the database } <br>
        3. Create a Table <br>
        Create a table using SQL statement. CREATE TABLE query is stored in a variable(here $sql) <br>
        Execute this query using $mysqli->query($sql) <br>
        If query returns true, it says that specified operation in the query has been performed successfully. <br>
        4. Insert , Update and delete operations <br>
        These operations can be performed similar to step 3 by writing corresponding SQL statements. <br>
        5. Retrieving records from the table <br>
        For select query, follow the above steps, store the result of the query in a variable and display the result provided with the query as shown below with example. <br>
        if ($result = $mysqli->query($sql)) { <br>
        if ($result->num_rows > 0) { <br>
        while($row = $result->fetch_array()){ <br>
        echo $row[' name '] . ":" . $row[' horsepower'] . "< br>"; <br>
        } <br>
        $result->close(); <br>
        } <br>
        else echo "No records found"; <br>
        }else { echo "ERROR: Could not execute $sql. " . $mysqli->error;}</p>
{% endblock %}

{% block procedure %}
<!-- procedure content -->
<h4>Mysql Database</h4>
<hr>
<h4>Procedure</h4>
<p>Follow the sequence of operations Create Database → Create Table → Insert/Delete/Modify/Display data (Any sequence for these 4 operations) <br>
    1. Click the Corresponding button in PHP frame to see PHP code. <br>
    2. Click the "Execute PHP" button and observe the step by step execution. <br>
    3. Observe the location of the yellow band. It highlights the line being executed. <br>
    4. Once yellow band stops moving, observe output of the code at the right side and corresponding html code at the bottom of the page. <br>
    5. Enter the values required for the corresponding operation on HTML page, click the button that appears on it and observe the output. <br><br>
<strong>Note:</strong> You may change the sequence of these operations, once you create a database, create a table and insert some rows in the database.</p>
<b>2] Simulator</b>
<p>Write the PHP script for the tasks mentioned in the experiment and click on "Execute" button to verify the output.</p>
{% endblock %}

{% block simulation %}
<!-- experiment content -->
{% endblock %}

{% block code %}
<!-- leave this place as compiler  content comes here -->
<h4>Mysql Database</h4>
<hr>
<h4>Step Execution</h4>
<pre><strong>
    &lt;!DOCTYPE html&gt;

&lt;?php

session_start();

?&gt;

&lt;html lang="en" xmlns="http://www.w3.org/1999/xhtml" &gt;

&lt;head&gt;

&lt;meta charset="utf-8" /&gt;

&lt;title&gt;Introduction to PHP&lt;/title&gt;

&lt;/head&gt;

&lt;body&gt;

&lt;h1&gt; This program creates new database in MYSQL&lt;/h1&gt;

&lt;form name=formSubmit method="post" action="&lt;?php echo $_SERVER['PHP_SELF']; ?&gt;"&gt;

&lt;table&gt;

&lt;tr&gt; &lt;td&gt;&lt;input type = submit value = CreateDatabase name=createDB&gt;&lt;/input&gt;&lt;/td&gt;&lt;/tr&gt;

&lt;/table&gt;

&lt;/form&gt;

&lt;?php

if ( isset( $_POST['createDB'] ) )

{ $host = "localhost";

$user = "root";

$password = "";

$conn = new mysqli($host, $user, $password);

if ($conn === false) {

die("ERROR: Could not connect. " . mysqli_connect_error());}

$sql = "CREATE DATABASE testDB";

if ($conn->query($sql) === true) {

echo "Database testDB is created"; }

else { echo "ERROR: Could not execute query: $sql. " . $conn->error;}

$conn->close();}

?&gt;

&lt;/body&gt;

&lt;/html&gt;
</strong></pre>
{% endblock %}

{% block experimentName %}Mysql Database {%endblock%}