{% extends 'phpLab/basic.html' %}

{%block title%} {% endblock %}

{% block aim %}
<!-- aim content -->
<h4>Function</h4>
<hr>
<h4>Aim</h4> 
<b>The aim of this experiment is to understand the concept of function in programming and use function in PHP.
</b>
<p>The Learner will be able to define and call the functions in php</p>
{%endblock%}

{% block theory %}
<!-- theory conteent -->
<h4>Function</h4>
<hr>
<h4>Theory</h4> <br>
<b>1.1 Introduction</b>
<p>A function provides a convenient way to encapsulate computations. It helps to perform some task repetitively at different points in the program. The function is a block of code written to perform a particular task. Functions are of two types viz. built-in functions and user defined functions.</p>
<b>1.2 Built-in function</b>
<p>There is no need to write the code for built-in functions. User just calls the function based on the requirement. PHP provides many built-in functions. Some of them are count(), sort(), date() etc.</p>
<b>1.3 User defined functions</b>
<p>User can define (write code for) his/her own functions based on the requirement. <br>
    The syntax for defining function is: <br>
    function function_name(argument list) <br>
    { <br>
    body of the function; <br>
    } <br>
    The function can be called by using the function name along with the parameter(s)/argument(s). The function returns value using return keyword. <br>
    A function can have any number of arguments and any type that is supported by PHP. The Argument may have default value.</p>
    <b>1.4 Example</b>
    <p>To Find greatest number among three given numbers $num1, $num2, $num3. <br>
        function greatest($num1, $num2, $num3) <br>
        { <br>
        if ($num1>$num2) <br>
        if ($num1>$num3) <br>
        return $num1; <br>
        else return $num3; else <br>
        if ($num2>$num3) <br><br>
        
        return $num2; <br>
        else <br>
        return $num3; <br>
        }</p>
{% endblock %}

{% block procedure %}
<!-- procedure content -->
<h4>Function</h4>
<hr>
<h4>Procedure</h4>
<b>1] Demonstration</b>
<p>
    Click the "Execute PHP" button and observe the step by step execution. <br>
Observe the location of the yellow band. It highlights the line being executed. <br>
Once yellow band stops moving, enter the value to calculate sum. Click the “Calculate” button. <br>
Observe the output shown on the right hand side.
</p>
<b>2] Simulator</b>
<p>Write the PHP script for the tasks mentioned in the experiment and click on "Execute" button to verify the output.</p>
{% endblock %}

{% block simulation %}
<!-- experiment content -->
{% endblock %}

{% block code %}
<!-- leave this place as compiler  content comes here -->
<h4>Function</h4>
<hr>
<h4>Step execution</h4>
<pre><strong>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;

&lt;?php
function writeMsg() {
  echo "Hello world!";
}

writeMsg();
?&gt;

&lt;/body&gt;
&lt;/html&gt;
</strong></pre>
{% endblock %}

{% block experimentName %}Function {%endblock%}