<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title></title>
    <style>
        h3 {
            display: inline;
            padding: 14px;
        }

        .content {
            display: none;
        }

        ul {
            list-style-type: none;
        }
    </style>

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="">Virtual Labs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stream">Stream</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contact Us</a>
                </li>
                <a class="nav-link" href="/aboutus">About Us</a>
                <li class="nav-item">
            </ul>
            </li>
        </div>

    </nav>
    <br>
    <!-- page nav bar -->
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <a class="link" href="#" rel="div1">
                <h3><span class="badge badge-info">Introduction </span></h3>
            </a>

            <a class="link" href="#" rel="div2">
                <h3><span class="badge badge-info">List Of Experiment</span></h3>
            </a>
            <a class="link" href="#" rel="div3">
                <h3><span class="badge badge-info">Target Students</span></h3>
            </a>

            <a class="link" href="#" rel="div4">
                <h3><span class="badge badge-info">Courses</span></h3>
            </a>
            <a class="link" href="#" rel="div5">
                <h3><span class="badge badge-info">Prerequesties</span></h3>
            </a>


            <a class="link" href="#" rel="div6">
                <h3><span class="badge badge-info">Feedback</span></h3>
            </a>
        </div>

        <!-- Page content -->
        <section>
            <div class="content" id="div1">
                <h4>Php Lab</h4>
                <p>The PHP Hypertext Preprocessor (PHP) is a programming language that allows web developers to create
                    dynamic content that interacts with databases. PHP is basically used for developing web based
                    software applications. This tutorial helps you to build your base with PHP.</p>

            </div>

            <div class="content" id="div2">
                <h1><span class="badge badge-primary">List of Experiments</span></h1>
                <ul>
                    <li><a href="/phpLab/experiment1">
                            <h4><span class="badge badge-info">Introduction</span></h4>
                        </a></li>
                    <li><a href="/phpLab/experiment2">
                            <h4><span class="badge badge-info">If Statement</span></h4>
                        </a></li>
                    <li><a href="/phpLab/experiment3">
                            <h4><span class="badge badge-info">Switch Case</span></h4>
                        </a></li>
                    <li><a href="/phpLab/experiment4">
                            <h4><span class="badge badge-info">While Loop</span></h4>
                        </a></li>
                    <li><a href="/phpLab/experiment5">
                            <h4><span class="badge badge-info">Do While Loop</span></h4>
                        </a></li>

                    <li><a href="/phpLab/experiment6">
                            <h4><span class="badge badge-info">Array</span></h4>
                        </a></li>
                    <li><a href="/phpLab/experiment7">
                            <h4><span class="badge badge-info">Array Associative</span></h4>
                        </a></li>
                    <li><a href="/phpLab/experiment8">
                            <h4><span class="badge badge-info">Function</span></h4>
                        </a></li>

                    <li><a href="/phpLab/experiment9">
                            <h4><span class="badge badge-info">Recursive Function</span></h4>
                        </a></li>
                    <li><a href="/phpLab/experiment10">
                            <h4><span class="badge badge-info"> Date Function</span></h4>
                        </a></li>
                    <li><a href="/phpLab/experiment11">
                            <h4><span class="badge badge-info">Mysql Database</span></h4>
                        </a></li>
                    <li><a href="/phpLab/experiment12">
                            <h4><span class="badge badge-info">Session Handling</span></h4>
                        </a></li>
                    <li><a href="/phpLab/experiment13">
                            <h4><span class="badge badge-info">Cookies Handling</span></h4>
                        </a></li>
                </ul>
            </div>

            <div class="content" id="div3">
                <h4>Php Lab</h4>
                <p>This PHP lab is designed for PHP programmers who are completely unaware of PHP concepts but they have
                    basic understanding on computer programming.</p>

            </div>

            <div class="content" id="div4">
                <h4>Php Lab</h4>
                <p>As mentioned before, PHP is one of the most widely used language over the web. I'm going to list few
                    of them here:</p>
                <ol>
                    <li>PHP performs system functions, i.e. from files on a system it can create, open, read, write, and
                        close them.</li>
                    <li>PHP can handle forms, i.e. gather data from files, save data to a file, through email you can
                        send data, return data to the user.

                    </li>
                    <li>You add, delete, modify elements within your database through PHP.

                    </li>
                    <li>Access cookies variables and set cookies.

                    </li>
                    <li>Using PHP, you can restrict users to access some pages of your website.

                    </li>
                    <li>It can encrypt data.

                    </li>
                </ol>
            </div>

            <div class="content" id="div5">
                <h4>Php lap</h4>
                <strong>Course requirements</strong>
                <p>Before proceeding with this tutorial you should have at least basic understanding of computer programming, Internet, Database, and MySQL etc is very helpful.</p>
                <strong>Software compatibilty</strong>
                <ul>
                    <li>Operating system: Linux, Windows 7, Mac OS 10.6</li>
                    <li>Browser: Firefox 3+, Safari, Opera, Chrome</li>
                    <li>Browser: Firefox 3+, Safari, Opera, Chrome</li>
                </ul>
                <strong>Hardware requirements (minimum)</strong>
                <ul>
                    <li>CPU: 1 GHz</li>
                    <li>Memory: 1 GB</li>
                </ul>
            </div>


            <div class="content " id="div6">
                <center>  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSduY6B8J5N1PNmjKrduuu8ShKLVcJ0RtclOTYiHPEv5tb0Glg/viewform?embedded=true" width="640" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></center>
            </div>

        </section>

    </div>

    <!-- jquery for functionality of page -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script>



        $('.link').click(function (e) {
            e.preventDefault();
            var content = $(this).attr('rel');
            $('.active').removeClass('active');
            $(this).addClass('active');
            $('.content').hide();
            $('#' + content).show();
        });
    </script>

</body>

</html>