{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karnaugh Map Simulator</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="{% static 'js/google-analytics.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/block.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/simulator1.js'%}"></script>
    <script src="{% static 'js/kmap.js' %}"></script>
    <script src="{% static 'js/qmc.js' %}"></script>
    <script type="text/javascript">
        var karnaugh = -1;
        var qmc = -1;
        function run() {
            qmc = new QuineMcCluskey("fakeDivId", 2, 4, 0);
            qmc.init();

            karnaugh = new KarnaughMap("myKarnaughMap", qmc);
            karnaugh.init();
        }

        function noOfVarsChanged() {
            var d = document.getElementById("noOfVarsChanged_id").value;
            karnaugh.setNoOfVars(d);
        }

        function dontCareChanged() {
            var d = document.getElementById("select_dontCare").value;
            karnaugh.allowDontCares(d);
        }

        function dontShowChanged() {
            var d = document.getElementById("select_dontShow").value;
            karnaugh.setDontShowResult(d);
        }

    </script>
    <style type="text/css">
        .qmcMathFont {
            font-family: "Times New Roman", Georgia, Serif;
        }
    </style>
</head>

<body onload="run()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Virtual Labs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stream">Stream</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus">About Us</a>
              </li>
          </ul>
         
        </div>
      </nav>
    
    <div class="container">
        <h1 align="center">Karnaugh Map Simulator</h1>
        <p id="demo">Read the Procedure Properly for using this Karnaugh Map Simulator.</p>
        <p id="d"></p>
        <p>
            <button type="button" onclick="karnaugh.genRandom();">Random example</button>
            <button type="button" onclick="karnaugh.clear();">Reset</button><br>
            Number of input variables:
            <select onchange="noOfVarsChanged();" id="noOfVarsChanged_id">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4" selected="">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp; Allow Don’t-Care:
            <select onchange="dontCareChanged();" id="select_dontCare">
                <option value="0" selected="">no</option>
                <option value="1">Yes</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp; Hide result:
            <select onchange="dontShowChanged();" id="select_dontShow">
                <option value="0" selected="">no</option>
                <option value="1">Yes</option>
            </select> <br>
        </p>


        <div id="myKarnaughMap"> </div>

        
    <a  href="/computerOrganisationArchitecture/kMap">Move to Experiment</a>

    </div>

    
</body>

</html>