{% extends 'cgLab/basic.html'%}

{%block title%}Hierarchical Transformations: 3D Articulated Arm {% endblock %}

{% load static %}

{% block introduction%}
<!-- theory content -->
<h4>Hierarchical Transformations: 3D Articulated Arm</h4>
<p>This experiment demonstrates the end effect of hierarchical transformations learnt in the previous experiment using a 3D Articulated Arm setup</p>
{%endblock%}

{% block theory %}
<!-- objective conteent -->
<h4>Theory</h4>
<p>Here in this experiment we put the concepts of multiple transformations learnt in experiment 5a to practice with an Articulated arm experiment.</p>
<p>A hierarchy is an organization of things into levels. In a very general sense, he things higher up in a hierachy have control over the lower things. Here this applies to the matrix transformations.</p>
<p>We constructed a hierarchical articulated arm model where each node/part follows a series of transformations from the root node to its current position. The top-most object in this hierarchy is the Shoulder followed by Elbow, Forearm, Wrist and Palm. Moving the shoulder moves the rest of the parts as all others derive their transformation from the shoulder. When you move the wrist only the palm moves while the shoulder, elbow and forearm remain unchanged. This is because the wrist is lower in hierarchy than your elbow and therefore has no control on it.</p>

{% endblock %}

{% block objective %}
<!-- procedure content -->
<h4>Objective</h4>
<p>Objective of this experiment is to understand the effective tranformation due to a series of transformations and how to construct a hierarchical model.</p>
<h4>Manual</h4>
<a href="{%static 'cgLab/vlabs-manual_6.pdf'%}" download>Click here to download manual</a>


{% endblock %}

{% block procedure %}
<!-- experiment content -->
<h4>Procedure</h4>
<p>This experiment introduces the concept of the hierarchical transformations and a hierarchical model.</p>
<p>The hierarchical articulated arm is provided. Notice the different nodes used to construct the model. The nodes in this model follows the hierarchy: Shoulder (highest), Elbow, Forearm, Wrist and Palm. Applying transformations to a node in the hierarchy applies the same transformations to all the lower nodes in the hierarchy in addition to their own transformations. For example, a rotation has been applied to the shoulder. As you drag the slider you can notice this rotation being applied to the other nodes toother nodes.</p>
<p>Try modifying the transformations in the hierarchy and notice the effective changes on the entire model.</p>
<p>Open the transormation nodes of Forearm and Palm and notice how a Cube has been moulded to a forearm and a palm using the respective transformations.</p>
{% endblock %}

{% block experiment %}
<!-- experiment content -->
<ul>
    <li>Please download the appropriate Virtual Lab Graphics package below. <br>
    <a href="{%static 'cgLab/VirtualLabGraphics.zip'%}" download> Download</a></li>
    <li>Save the VirtualLabGraphics.zip file and double click it to extract.</li>
    <li>Run the Start.jar in the extracted folder (VirtualLabGraphics folder) to start the experiments</li>
    <ul>
        <li>Windows/MacOSX users can start the experiment by double clicking the Start.jar file.</li>
        <li>Linux users should run Start.jar by executing the following command in the terminal. <br>
            Change to the Virtual Lab Directory. <br>
            $ cd VirtualLabGraphics/ <br>
            Execute the experiment using the command: <br>
            $ java -jar Start.jar</li>
    </ul>
</ul>
{% endblock %}