<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Computer Graphics</title>
    <style>
        h3 {
            display: inline;
            margin: 8px;
        }

        .content {
            display: none;
        }

        ul {
            list-style-type: none;
        }
    </style>

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Virtual Labs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stream">Stream</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contact Us</a>
                </li>
                <a class="nav-link" href="/aboutus">About Us</a>
                <li class="nav-item">
            </ul>
            </li>
        </div>

    </nav>
    <br>
    <!-- page nav bar -->
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <a class="link" href="#" rel="div1">
                <h3><span class="badge badge-info">Introduction </span></h3>
            </a>

            <a class="link" href="#" rel="div2">
                <h3><span class="badge badge-info">List Of Experiment</span></h3>
            </a>
            <a class="link" href="#" rel="div3">
                <h3><span class="badge badge-info">Target Students</span></h3>
            </a>

            <a class="link" href="#" rel="div4">
                <h3><span class="badge badge-info">Course Alligned</span></h3>
            </a>
            <a class="link" href="#" rel="div5">
                <h3><span class="badge badge-info">Prerequesties</span></h3>
            </a>


            <a class="link" href="#" rel="div6">
                <h3><span class="badge badge-info">Feedback</span></h3>
            </a>
        </div>

        <!-- Page content -->
        <section>
            <div class="content" id="div1">
                <h4>Computer Graphics </h4>
                <p>Welcome to the Computer Graphics lab ! Here , we will try some virtual experiments to understand the different concepts of graphics. We will go through understanding the concepts of 3D Coordinate systems, Transformations, Hierarchical modelling and Cameras. Later we will be visualising some basic algorithms used to render the graphics.</p>
                
            </div>

            <div class="content" id="div2">
                <h1><span class="badge badge-primary">List of Experiments</span></h1>
                <ul>
                    <li><a href="experiment1">
                            <h4><span class="badge badge-info">Points & Co-ordinate Systems</span>
                            </h4>
                        </a></li>
                    <li><a href="experiment2">
                            <h4><span class="badge badge-info">Transformations: Translation</span></h4>
                        </a></li>
                    <li><a href="experiment3">
                            <h4><span class="badge badge-info">Transformations: Rotation</span></h4>
                        </a></li>
                    <li><a href="experiment4">
                            <h4><span class="badge badge-info">Transformations: Scaling</span></h4>
                        </a></li>
                    <li><a href="experiment5">
                            <h4><span class="badge badge-info">Hierarchical Transformations: 2D Demo</span></h4>
                        </a></li>
                    <li><a href="experiment6">
                            <h4><span class="badge badge-info">Hierarchical Transformations: 3D Articulated Arm</span></h4>
                        </a></li>

                    <li><a href="experiment7">
                            <h4><span class="badge badge-info">Projections and Cameras</span></h4>
                        </a></li>
                    <li><a href="experiment8">
                            <h4><span class="badge badge-info">Clipping : Line</span></h4>
                        </a></li>
                    <li><a href="experiment9">
                            <h4><span class="badge badge-info">Clipping : Polygon</span></h4>
                        </a></li>
                    


                </ul>
            </div>

            <div class="content" id="div3">
                <h4>Computer Graphics</h4>
                <p>The experiments are targeted at students with proficiency in writing programs in any preferred programming language. Knowledge of matrix theory and linear algebra is required.</p>
                <p>This lab is suitable for undergraduate (3rd year or above) or postgraduate students having a course
                    on advanced topics related to Computer Graphics.</p>

            </div>

            <div class="content" id="div4">
                <h4>Course Alligned</h4>
                <p>The basic concepts of CG are alignd with courses such as Linear Algebra, Matrix Theory, Projective Geometry and the like. The experiments touch on most topics covered in such courses in most curricula.</p>
            </div>

            <div class="content" id="div5">
                <h4>Computer Graphics</h4>
                <p>This lab requires few Software Dependencies to run the Simulations</p>
                <ul>
                    <li>The downloadable CG toolkit provided for first 6 experiments comes prepacked with the required libraries and requires Java 1.7 and JRE 1.7 to run.</li>
                    <li>Browsers Firefox 50 and it's below versions, internet explorer.</li>
                    <li>IcedTea Plugin for Linux Operating System.</li>
                </ul>
            </div>


            <div class="content " id="div6">
                feedback form comes here
            </div>

        </section>

    </div>

    <!-- jquery for functionality of page -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
   
   <script>



        $('.link').click(function (e) {
            e.preventDefault();
            var content = $(this).attr('rel');
            $('.active').removeClass('active');
            $(this).addClass('active');
            $('.content').hide();
            $('#' + content).show();
        });
    </script>

</body>

</html>