{% extends 'computerOrganisationArchitecture/exp1basic.html' %}
<!-- title -->
{%block title%} Ripple Carry Address {% endblock %}



<!-- theory content -->
{% block theory%}
<h4>Design of Ripple Carry Adders</h4>
<p>Arithmetic operations like addition, subtraction, multiplication, division are basic operations to be implemented in
    digital computers using basic gates likr AND, OR, NOR, NAND etc. Among all the arithmetic operations if we can
    implement addition then it is easy to perform multiplication (by repeated addition), subtraction (by negating one
    operand) or division (repeated subtraction).</p>
<p>Half Adders can be used to add two one bit binary numbers. It is also possible to create a logical circuit using
    multiple full adders to add N-bit binary numbers.Each full adder inputs a Cin, which is the Cout of the previous
    adder. This kind of adder is a Ripple Carry Adder, since each carry bit "ripples" to the next full adder. The first
    (and only the first) full adder may be replaced by a half adder.The block diagram of 4-bit Ripple Carry Adder is
    shown here below
</p>
<div class="image">
    {%load static%}
    <img src="{%static 'computerOrganisationArchitecture/RIPPLECARRYADDER.png' %}" alt="">
</div>
<p>The layout of ripple carry adder is simple, which allows for fast design time; however, the ripple carry adder is
    relatively slow, since each full adder must wait for the carry bit to be calculated from the previous full adder.
    The gate delay can easily be calculated by inspection of the full adder circuit. Each full adder requires three
    levels of logic.In a 32-bit [ripple carry] adder, there are 32 full adders, so the critical path (worst case) delay
    is 31 * 2(for carry propagation) + 3(for sum) = 65 gate delays.</p>
<h4>Design Issues</h4>
<p>The corresponding boolean expressions are given here to construct a ripple carry adder. In the half adder circuit the
    sum and carry bits are defined as</p>

<strong>sum = A ⊕ B</strong><br>
<strong>carry = AB</strong><br>
<p>In the full adder circuit the the Sum and Carry outpur is defined by inputs A, B and Carryin as</p>
<strong>Sum = ABC + A<span class="oline">BC</span> + <span class="oline">A</span>B<span class="oline">C</span> + <span
        class="oline">AB</span>C</strong><br>
<strong> Carry=ABC + AB<span class="oline">C</span> + A<span class="oline">B</span>C + AB<span class="oline"
        C></span></strong>
<p>Having these we could design the circuit.But,we first check to see if there are any logically equivalent statements
    that would lead to a more structured equivalent circuit.</p>

<strong>Sum = ABC + A<span class="oline">BC</span> + <span class="oline">A</span>B<span class="oline">C</span> + <span
        class="oline">AB</span>C <br>

    = (A<span class="oline">B</span> + <span class="oline">A</span>B)<span class="oline">C</span>+ (<span
        class="oline">AB</span> + AB) C<br>

    = (A ⊕ B)<span class="oline">C</span> + <span class="oline">(A ⊕ B)</span> C <br>

    = A ⊕ B ⊕ C
</strong>
{%endblock%}

{% block objective %}
<!-- objective conteent -->
<h4>Objective of 4 bit ripple carry adder:</h4>
<p>To understand the operation of a ripple carry adder, specifically how the carry ripples through the adder.</p>
<ol>
    <li>examining the behavior of the working module to understand how the carry ripples through the adder stages</li>
    <li>to design a ripple carry adder using full adders to mimic the behavior of the working module</li>
    <li>the adder will add two 4 bit numbers</li>
</ol>
<strong> Examining behaviour of ripple carry adder for the workng module and the module designed by the student as part
    of the experiment (refer to the circuit diagram)</strong>

<strong> Loading data in the ripple carry adder (refer to procedure tab for pin numbers)</strong>
<ul>
    <li>each unit of adder will add single bits of the two numbers along with the carry from the previous adder</li>
    <li>load the two input numbers in the adder units as:</li>
    <ul>
        <li>A(A3 A2 A1 A0): A3=1, A2=1, A1=1, A0=1</li>
        <li>B(B3 B2 B1 B0): B3=0, B2=0, B1=0, B0=1</li>
    </ul>
</ul>
<strong>Examining the rippling of carry behaviour:</strong>
<ul>
    <li>check output sum:</li>
    <ul>
        <li>sum(S3 S2 S1 S0): S3=0, S2=0, S1=0, S0=0</li>
    </ul>
    <li>check output carry:</li>
    <ul>
        <li>cout=1</li>
    </ul>
    <li>check intermediate carry bit of all the unit adders which will be 1</li>
    <li>probing the carry port can be done by verifying the color of the wire coming out of the port</li>
</ul>
<p><strong>Recommended learning activities for the experiment:</strong> Leaning activities are designed in two stages, a
    basic stage and an advanced stage. Accomplishment of each stage can be self-evaluated through the given set of quiz
    questions consisting of multiple type and subjective type questions. In the basic stage, it is recommended to
    perform the experiment firstly, on the given encapsulated working module, secondly, on the module designed by the
    student, having gone through the theory, objective and procuder. By performing the experiment on the working module,
    students can only observe the input-output behavior. Where as, performing experiments on the designed module,
    students can do circuit analysis, error analysis in addition with the input-output behavior. It is recommended to
    perform the experiments following the given guideline to check behavior and test plans along with their own circuit
    analysis. Then students are recommended to move on to the advanced stage. The advanced stage includes the
    accomplishment of the given assignments which will provide deeper understanding of the topic with innovative circuit
    design experience. At any time, students can mature their knowledge base by further reading the references provided
    for the experiment.</p>
<ul>
    <li>color configuration of wire for 5 valued logic supported by the simulator:</li>
    <ul>
        <li>if value is UNKNOWN, wire color= maroon</li>
        <li>if value is TRUE, wire color= blue</li>
        <li>if value is FALSE, wire color= black</li>
        <li>if value is HI IMPEDENCE, wire color= green</li>
        <li>if value is INVALID, wire color= orange</li>
    </ul>
</ul>
<strong>Test plan:</strong>
<ol>
    <li>Set one input to zero(0) and check the output</li>
    <li>Set one input to zero(0) and check the output</li>
    <li>Check the ripple carry adder with input carry with two arbritrary input.</li>
</ol>
<p>Use Display units for checking output. Try to use minimum number of components to build. The pin configuration of the
    canned components are shown when mouse hovered over a component.</p>
<strong>Assignment Statements :</strong>
<ol>
    <li>Create a half adder circuit using only logic gates and test it by giving proper input.</li>
    <li>Create a full adder circuit using only logic gates and test it by giving proper input.</li>
    <li>Create a full adder circuit using half adder and test it by giving proper input.</li>
    <li>Create a 4-bit ripple carry adder circuit using half adders and full adders and test it by giving proper input.
    </li>
</ol>
{% endblock %}

{% block procedure %}
<!-- procedure content -->
<h4>Design of Ripple Carry Adders:</h4>
<strong>Procedure to perform the experiment:Design of Ripple Carry Adders</strong>
<ol>
    <li>Start the simulator as directed.This simulator supports 5-valued logic.</li>
    <li>To design the circuit we need 3 full adder, 1 half adder, 8 Bit switch(to give input), 3 Digital display(2 for
        seeing input and 1 for seeing output sum), 1 Bit display(to see the carry output), wires.</li>
    <li>The pin configuration of a component is shown whenever the mouse is hovered on any canned component of the
        palette or press the 'show pinconfig' button. Pin numbering starts from 1 and from the bottom left
        corner(indicating with the circle) and increases anticlockwise.</li>
    <li>For half adder input is in pin-5,8 output sum is in pin-4 and carry is pin-1, For full adder input is in
        pin-5,6,8 output sum is in pin-4 and carry is pin-1</li>
    <li>Click on the half adder component(in the Adder drawer in the pallet) and then click on the position of the
        editor window where you want to add the component(no drag and drop, simple click will serve the purpose),
        likewise add 3 full adders(from the Adder drawer in the pallet), 8 Bit switches, 3 digital display and 1 bit
        Displays(from Display and Input drawer of the pallet,if it is not seen scroll down in the drawer)</li>
    <li>To connect any two components select the Connection menu of Palette, and then click on the Source terminal and
        click on the target terminal. According to the circuit diagram connect all the components, connect 4 bit
        switches to the 4 terminals of a digital display and another set of 4 bit switches to the 4 terminals of another
        digital display. connect the pin-1 of the full adder which will give the final carry output. connet the
        sum(pin-4) of all the adders to the terminals of the third digital display(according to the circuit diagram
        shown in screenshot). After the connection is over click the selection tool in the pallete.</li>
    <li>To see the circuit working, click on the Selection tool in the pallet then give input by double clicking on the
        bit switch, (let it be 0011(3) and 0111(7)) you will see the output on the output(10) digital display as sum and
        0 as carry in bit display.</li>
</ol>
<strong>Circuit diagram of Ripple Carry Adder:</strong><br>
<img style="margin: auto;" src="{%static 'computerOrganisationArchitecture/rcaCkt.png' %}" alt=""><br>
<strong>Screenshot of Ripple Carry Adder:</strong>
<img  src="{%static 'computerOrganisationArchitecture/Simulator3.png' %}" alt=""><br>
<strong>Components :</strong>
The components needed to create 4 bit ripple carry adder is listed here -
<ul>
    <li>4 full-adders</li>
    <li>wires to connect</li>
    <li>LED display to obtain the output</li>
</ul>
<ul>
    <li>3 full-adders</li>
    <li>1 half adder</li>
    <li>wires to connect</li>
    <li>LED display to obtain the output</li>
</ul>
{% endblock %}

{% block experiment %}
<!-- experiment content -->
<h4>Design of Ripple Carry Adders:</h4>
<ul>
    <strong>General guideline to use the simulator for performing the experiment:</strong>
    <li>Start the simulator as directed. For more detail please refer to the manual for using the simulator</li>
    <li>The simulator supports 5-valued logic</li>
    <li>To add the logic components to the editor or canvas (where you build the circuit) select any component and click
        on the position of the canvas where you want to add the component</li>
    <li>The pin configuration is shown when you select the component and press the 'show pinconfig' button in the left
        toolbar or whenever the mouse is hovered on any canned component of palette</li>
    <li>To connect any two components select the connection tool of palette, and then click on the source terminal and
        then click on the the target terminal</li>
    <li>To move any component select the component using the selection tool and drag the component to the desired
        position</li>
    <li>To give a toggle input to the circuit, use 'Bit Switch' which will toggle its value with a double click</li>
    <li>Use 'Bit Display' component to see any single bit value. 'Digital Display' will show the output in digital
        format</li>
    <li>undo/redo, delete, zoom in/zoom out, and other functionalities have been given in the top toolbar for ease of
        circuit building</li>
    <li>Use start/stop clock pulse to start or stop the clock input of the circuit. Clock period can be set from the
        given 'set clock' button in the left toolbar</li>
    <li>Use 'plot graph' button to see input-output wave forms</li>
    <li>Users can save their circuits with .logic extension and reuse them</li>
    <li><strong>After building the circuit press the simulate button in the top toolbar to get the output</strong> </li>
    <li><strong>If the circuit contains a clock pulse input, then the 'start clock' button will start the simulation of
            the whole circuit. Then there is no need to again press the 'simulate' button</strong></li>
</ul>
{% endblock %}

{% block software %}
<!-- software content -->
<p>General guideline to use the Simulator Software for performing the experiments:</p>
<strong>For Windows 64 bit</strong>
<ul>
    <a href="{%static 'computerOrganisationArchitecture/rippleCaryyAdder.jar' %}" download>Click here to download the 64
        bit version of simulator</a>
    PATH needs to be set:
    <li>Java runtime environment is needed (may get from<a href="https://www.java.com/en/" target="_blank">
            java.com)</a> </li>
    <li>Install downloaded jre</li>
    <li>Right click on My Computer/This PC</li>
    <li>Select Properties</li>
    <li>Select Advanced System Settings</li>
    <li>Select Advanced tab</li>
    <li>Select Environment Variables</li>
    <li>Select Path under System Variables</li>
    <li>Click on Edit button</li>
    <li>In Variable value editor paste this at the start of the line <br>
        C:\Program Files\Java\< jdk_version>\bin;</li>
    <li>Click Ok then Ok again</li>
</ul>
{% endblock %}




