<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Advance Network Technologies</title>
    <style>
        h3 {
            display: inline;
            padding: 12px;
        }

        .content {
            display: none;
        }

        ul {
            list-style-type: none;
        }
    </style>

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Virtual Labs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stream">Stream</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contact Us</a>
                </li>
                <a class="nav-link" href="/aboutus">About Us</a>
                <li class="nav-item">
            </ul>
            </li>
        </div>

    </nav>
    <br>
    <!-- page nav bar -->
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <a class="link" href="#" rel="div1">
                <h3><span class="badge badge-info">Introduction </span></h3>
            </a>

            <a class="link" href="#" rel="div2">
                <h3><span class="badge badge-info">List Of Experiment</span></h3>
            </a>
            <a class="link" href="#" rel="div3">
                <h3><span class="badge badge-info">Target Students</span></h3>
            </a>

            <a class="link" href="#" rel="div4">
                <h3><span class="badge badge-info">Objectives</span></h3>
            </a>
            <a class="link" href="#" rel="div5">
                <h3><span class="badge badge-info">Prerequesties</span></h3>
            </a>


            <a class="link" href="#" rel="div6">
                <h3><span class="badge badge-info">Feedback</span></h3>
            </a>
        </div>

        <!-- Page content -->
        <section>
            <div class="content" id="div1">
                <h4>Advanced Network Technologies</h4>
                <P>Research analysis manifests clear trends of growing interest of the Computer Science students towards
                    e-learning. To keep this trend as well as the pace with the rapid advancement of software
                    technologies, the <strong>"Advanced Network Technologies"</strong> has been developed. This lab
                    exposes the students to various advanced topics including Wi-Fi, WiMAX, MANET, WSN, and encourages
                    them to work on related problems in a partially constrained environment. Apart from providing
                    detailed theory on each topic, each "virtual" experiment in the lab has a set of exercises to be
                    solved using remote network simulations. Network Simulator 2 (NS-2) and Network Simulator 3 (NS-3)
                    have been used for this purpose. <br>

                    This virtual lab also offer benefits such as reduced software and hardware costs for setting up an
                    actual advanced network technology lab, improved learning by interactive visualization, and
                    self-learning advanced network technologies in the absence of a real-life instructor. Additionally,
                    the students can learn at their own pace any time and from any place which has a PC with high speed
                    Internet connectivity.</P>
            </div>

            <div class="content" id="div2">
                <h1><span class="badge badge-primary">List of Experiments</span></h1>
                <ul>
                    <li><a href="/antLab/experiment1">
                            <h4><span class="badge badge-info">Basics of Network Simulation</span>
                            </h4>
                        </a></li>
                    <li><a href="/antLab/experiment2">
                            <h4><span class="badge badge-info">Simulating a Local Area Network</span></h4>
                        </a></li>
                    <li><a href="/antLab/experiment3">
                            <h4><span class="badge badge-info">Measuring Network Performance</span></h4>
                        </a></li>
                    <li><a href="/antLab/experiment4">
                            <h4><span class="badge badge-info">Simulation of a Satellite Network</span></h4>
                        </a></li>
                    <li><a href="/antLab/experiment5">
                            <h4><span class="badge badge-info">Simulating a Wi-Fi Network</span></h4>
                        </a></li>
                    <li><a href="/antLab/experiment6">
                            <h4><span class="badge badge-info">Simulating a WiMAX Network</span></h4>
                        </a></li>

                    <li><a href="/antLab/experiment7">
                            <h4><span class="badge badge-info">Simulating a Mobile Adhoc Network</span></h4>
                        </a></li>
                    <li><a href="/antLab/experiment8">
                            <h4><span class="badge badge-info">Simulating a Wireless Sensor Network</span></h4>
                        </a></li>
                    <li><a href="/antLab/experiment9">
                            <h4><span class="badge badge-info">Setting up a Bluetooth Network</span></h4>
                        </a></li>
                    <li><a href="/antLab/experiment10">
                            <h4><span class="badge badge-info">Setting up a ZigBee Network</span></h4>
                        </a></li>


                </ul>
            </div>

            <div class="content" id="div3">
                <h4>Advance Network Technology</h4>
                <p>This lab is suitable for undergraduate (3rd year or above) or postgraduate students having a course
                    on advanced topics related to Computer Networks.</p>

            </div>

            <div class="content" id="div4">
                <h4>Advance Network Technology</h4>
                <strong>Objectives</strong>
                <p>
                    The Advanced Network Technologies Virtual Lab has been developed by keeping in mind the following
                    objectives:</p>
                <ul>
                    <li>To impart state-of-the-art knowledge on advanced topics in Computer Networks in an interactive
                        manner through the Web
                    </li>
                    <li>Introduce the concept of network simulation to the students
                    </li>
                    <li>Involve students in analytical studies of Computer Networks through network simulation
                    </li>
                </ul>
                <p>All the while it is intended to present Computer Networks as an interesting subject to the students
                    where learning and fun can go alongside.

                </p>
            </div>

            <div class="content" id="div5">
                <h4>Advance Network Technology</h4>
                <strong>Course requirements</strong>
                <ul>
                    <li>None</li>
                </ul>
                <strong>Software compatibilty</strong>
                <ul>
                    <li>Operating system: Linux, Windows 7, Mac OS 10.6</li>
                    <li>Browser: Firefox 3+, Safari, Opera, Chrome</li>
                    <li>Browser: Firefox 3+, Safari, Opera, Chrome</li>
                </ul>
                <strong>Hardware requirements (minimum)</strong>
                <ul>
                    <li>CPU: 1 GHz</li>
                    <li>Memory: 1 GB</li>
                </ul>
            </div>


            <div class="content " id="div6">
                feedback form comes here
            </div>

        </section>

    </div>

    <!-- jquery for functionality of page -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
   
   <script>



        $('.link').click(function (e) {
            e.preventDefault();
            var content = $(this).attr('rel');
            $('.active').removeClass('active');
            $(this).addClass('active');
            $('.content').hide();
            $('#' + content).show();
        });
    </script>

</body>

</html>