{% extends 'psLab/basic.html'%}

{%block title%}Beauty of Numbers {% endblock %}

{% block introduction %}
<!-- introduction content -->
<h4>Introduction</h4>
<p>Many students in some class or either might have been interested in Number theory as it is so much fun in solving those riddles.Here we present two problems to refresh your skills. Hope you will love them.And yea the difference is that you may not have learnt computer programming back then but you know some computer programming now so you can use the computer :) and program the task.</p>
<h5>Problem 1:</h5>
<p>A number is called perfect, if the sum of all its proper divisors is the number itself. Write a program to test, whether a given number is perfect or not. The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors and 1 + 2 + 3 = 6.</p>
<strong>Input Specification</strong>
<p>Input contains a single positive integer(< 1010). Use long long for the number.</p>
<strong>Specification</strong>
<p>Output "YES" or "NO" (quotes for clarity) corresponding to whether the number in input is perfect or not.</p>
<strong>Sample Input and Output</strong>
<p>Input: 28 <br>
    Output: YES <br>
    Input: 16 <br>
    Output: NO</p>
<h5>Problem 2</h5>
<p>Interestingly, every positive rational number can be expressed in the form q + 1/E. where q is a non-negative integer and E is either the number 1 or an expression of the same form as above. We call such an expression a continued fraction. For eg., 239/51 is equivalent to 239/51 = 4 + 1/(1+(1/2+(1/(5+1/(2+(1/1)))))) Write a program which takes two integers (eg. 239 and 51) and output a set of integers (eg. 4 1 2 5 2 ) which are the sequence of q's until E becomes 1. For another example for 27 and 10 Output 2 1 2 2.</p>
<strong>Input Specification</strong>
<p>Input contains 2 positive integers separated by a space.</p>
<strong>Specification</strong>
<p>Output a set of integers which are the sequence of q's until E becomes 1, the set of integers must be separated by spaces.</p>
<strong>Sample Input and Output</strong>
<p>Input: 239 51  <br>
    Output: 4 1 2 5 2 <br>
    Input: 27 10 <br>
    Output: 2 1 2 2 <br>
    </p>
{%endblock%}

{% block theory %}
<!-- theory conteent -->
<h4>Theory</h4>
<h5>Problem 1</h5>
<p>P is divisor of Q, if dividing Q by P does not leave any remainder. A number, N, is called a perfect number, if the sum of all such divisors of N(not including N) is equal to N. 6 is the smallest perfect number. It's factors are 1,2,3 and their sum is 1+2+3=6. So, to check whether a number, say N, is perfect or not, it is required to find all the divisors of that number. The easiest way to do this is to check every number form 2 to N-1 if it is dividing N completely or not, and take the sum of all the divisor. While this may work well for small numbers, it would be very time consuming for large numbers.</p>
<p>A better solutin can be built by observing that many numbers can easily be ruled out as not divisors. For instance, all the numbers between N/2 and N cannot be divisors. Similarly, all numbers between N/2 and N/3 cannot be divisors of N, and so on. So, at each step we can check two numbers to be divisors of N and at the same time we can eliminate a fraction of the numbers less than N as not divisors and putting an upper bound on the next biggest possible divisor. Lets apply this tactic to find the divisors of 60.</p>
<p>60 divided by 2 gives 30 as the quotient and 0 as the remainder. So, 2 and 30 are divisors and there are no other divisors greater than 30. SUM=32+1=33 <br>
    60 divided by 3 gives 20 as the quotient and 0 as the remainder. So, 3 and 20 are divisors and there are no other divisors greater than 20. SUM=33+23=46 <br>
    60 divided by 4 gives 15 as the quotient and 0 as the remainder. So, 4 and 15 are divisors and there are no other divisors greater than 15. SUM=46+19=65 <br>
    60 divided by 5 gives 12 as the quotient and 0 as the remainder. So, 5 and 12 are divisors and there are no other divisors greater than 12. SUM=65+17=82 <br>
    60 divided by 6 gives 10 as the quotient and 0 as the remainder. So, 6 and 10 are divisors and there are no other divisors greater than 10. SUM=82+16=98 <br>
    60 divided by 7 gives 8 as the quotient and 4 as the remainder. So, 7 is not a divisor and there are no other divisors greater than or equal to 8.</p>

<p>Now, we see that there is no need to see any more divisors. The divisors of 60 are 2,30,3,20,4,15,5,12,6 and 10. And their sum is 97. So, 60 is not a perfect number. Lets try this procedure on 28 which is the next prefect number after 6.</p>
<p>28 divided by 2 gives 14 as the quotient and 0 as the remainder. So, 2 and 14 are divisors and there are no other divisors greater than 14. SUM=1+16=17 <br>
28 divided by 3 gives 9 as the quotient and 2 as the remainder. So, 3 is not a divisor and there are no other divisors greater than or equal to 9. SUM=17 <br>
28 divided by 4 gives 7 as the quotient and 0 as the remainder. So, 4 and 7 are divisors and there are no other divisors greater than 7. SUM=17+11=28 <br>
28 divided by 5 gives 5 as the quotient and 3 as the remainder. So, 5 is not a divisor and there are no other divisors greater than 5. SUM=28</p>
<p>We need not check any more numbers. The SUM is 28, and hence, 28 is a perfect number.</p>
<h5>Problem 2</h5>
<p>Consider the fraction A/B. We use two variables A,B to represent a fraction. Lets see how can we solve the problem. A/B = q + 1/E. How can we find q,E given A,B such that E&gt1.; From math basics any fraction can be expressed A/B = step(A/B) + frac(A/B). frac(A/B)&lt;1 so 1/frac(A/B) &gt; 1. Thus we shall choose q as step(A/B) and E as 1/frac(A/B). Now we shall see programatically how can we represent and E as we need to do the same operation on E. Obviosuly from the above equation E = B/(A-B*q) which means E is also a fraction. Thus we express E in terms of some (x,y) where x = B and y = A-B*q and do the same operation as we have done on (A,B). It is recommended to use while loop and handle the termination case properly while coding.</p>
{% endblock %}

{% block objective %}
<!-- objective content -->
<h4>Objective</h4>
<p>To learn to solve problems related to Number Theory using Computer Programming.</p>
{% endblock %}
{% block experiment %}
<!-- experiment content -->
{% endblock %}

{% block manual %}
<!-- software content -->
<h4>Manual</h4>
<p>For each problem you have to write a program in C or C++. Each question is evaluted on test cases. An answer is correct only when all the test cases are cleared.</p>
{% endblock %}

{% block procedure %}
<h4>Procedure</h4>
<p>Procedure for the experiment is as follows.</p>
<ul>
 <li>  Write the code for the problem or upload a solution. </li>
 <li> Press the i button get info about the problem which you have to solve. </li>
 <li> If you are finding it difficult to solve the solution, then you can use the 4 levels of          incresingly descriptive hints, but try to use minimum number of hints. </li>
 <li> Compile the code by pressing the compile button. </li>
 <li> If code is not compling then correct the error and/or warnings. </li>
 <li> To execute the code and see output, press the execute button. </li>
 </ul>
{%endblock%}