{% extends 'psLab/basic.html'%}

{%block title%}String Operations {% endblock %}

{% block introduction %}
<!-- introduction content -->
<h4>Introduction</h4>
<p>String is traditionally a sequence of characters, either as a literal constant or as some kind of variable. The latter may allow its elements to be mutated and/or the length changed, or it may be fixed (after creation). A string is generally understood as a data type and is often implemented as a byte (or word) array that stores a sequence of elements, typically characters, using some character encoding. A string may also denote more general array data types and/or other sequential data types and structures; terms such as byte string, or more general, string of datatype, or datatype-string, are sometimes used to denote strings in which the stored data does not(necessarily) represent text.</p>
<h5>Problem 1</h5>

<p>A palindrome is a symmetric character sequence that looks the same when read backwards, i.e. from right to left. Interestingly, human being usually discards blank spaces and punctuation marks while recognizing a palindromes like: (a) “Madam, I’m Adam.” (b) “Eve.” etc. <br>
Write a program that detects palindromes. Your program should accept a string from the key board and output YES/NO.</p>
<strong>Input Specification</strong>
<p>Input will contain a string S entered from keyboard, with number of characters less than 1000.</p>
<strong>Output Specification</strong>
<p>Output must be either "YES" or "NO"(quotes for clarity) depending upon whether or not it is a palindrome.</p>
<strong>Sample Input and Output</strong>
<p>Input: Madam, I'm Adam  <br>
    Output:YES <br>
    Input: Eve. <br>
    Output: NO 
    </p>
<h5>Problem 2</h5>
<p>Given two strings, PRINT (YES or NO) whether the second string can be obtained from the first by deletion of none, one or more characters.</p>
<strong>Input Specification</strong>
<p>Input will contain two strings separated by a space and size of each string is at max 10<sup>7</sup>.</p>
<strong>Output Specification</strong>
<p>Output must be either "YES" or "NO" depending on whether 2nd string can be obtained from 1<sup>st</sup> string.</p>
<strong>Sample Input and Output</strong>
<p>Input: hyderabad her <br>
    Output: YES <br>
    Input: hyderabad dear <br>
    Output: NO</p>

{%endblock%}

{% block theory %}
<!-- theory conteent -->
<h4>Theory</h4>
<h5>Problem 1</h5>
<p>A palindrome is a string which reads same wheter it is read from start to end of from end to the start. In literature, however, even the capitalization of words and punctuations are ignored. So, "Rats live on no evil stars." is also a palindrome. Detection of such palindromes can be done by creating a new string in which all the punctuations have been removed and all the upper case characters have been converted to lower case characters, and then doing a test for plaindome on the new string.</p>
<p>Alternatively, one can create two indices and put them at the end and beginning of the string. The index at the beginning moves towards the end and vice versa. If a character at any of the indices is not an alphabet the corresponding indice is moved until an alphabet is encountered. If the alphabet is in Upper case, then it is converted into lower case. Now, the values at the indices are compared and if they are not same then the string is not a palindome. Otherwise, the check is repeated for new values of indices obtained by moving them by suffiecient amount so that an alphabet is encountered. If at any time the indices are coincident or the indices cross each other, then the string is a palindrome.</p>
<h5>Problem 2</h5>
<p>Inorder to obtain string2 from string1 by deleting 0 or more characters it is fairly obvious that the characters in string2 must appear in the same order as in string1.</p>
<strong>Mathematical Formulation</strong>
<p>Suppose the length of string A is M and string B is N we need to find a N tuple (X[0],X[1],...,X[N-1]) such that X[i] &lt; X[i+1] for 0&lt;=i&lt;=N-2 and A[X[i]] = B[i] for 0&lt;=i&lt;=N-1. Why this formulation is correct? B[0] occurs at X[0] <br>
    B[1] occurs at X[1] <br>
    B[N-1] occurs at X[N-1] 
</p>
<p>Now, we remove all other characters from A except those which appear at positions indicated by array X. Then we get string B.Thus the problem formulation is correct. The order constraint between X[i]'s is element because we want the characters in B to appear in order in A.</p>
<h5>Solution</h5>
<p>So now once we have stated the problem mathematically we would like to know how can we find array X subjected to the constraints mentioned.Lets see how can we find X[0]. You must be apply the same logic on how to find other values of array X once you are familier with X[0]. X[0] has only one constraint to be satisfied which is A[X[0]] = B[0] . There can be many values of X[0] which can satisfy the above constraint. So which value should X[0] take?</p>
<h5>Proof</h5>
<p>Suppose S is a set of values which X[0] can take. We prove that X[0] should take the minimum value, amongst all the members of set S. If |S|=1 , then it is obviously valid. So, assume |S|>=2. We will deal with |S|=0 case later. Lets say X[0] = b and the minimum value of the set S is a i.e a &lt; X[0]. Since we have choosen X[0] as b we need to search for B[1] [b+1 m] beacuse B[1]> B[0]. It can happen that B[1] is not present in [b+1 m] at all which would imply that string B cannot be a subsequence of string A. But suppose the character is present in [a+1 b] and X[0]=a then it is possible that string B might be a subsequence of string A. Thus, X[0] must take the minimum value of set S i.e the position where first B[0] is same as chracter of A should be chosen as X[0].</p>
<p>Now, if X[0] = a, we shall search for X[1] in [a+1,M] and similarly X[2] in [X[1]+1,M] and for X[i] in [X[i-1]+1,M].Thus if we can find the array X then we say YES else NO.</p>
{% endblock %}

{% block objective %}
<!-- objective content -->
<h4>Objective</h4>
<p>To learn to solve problems related to Strings using Computer Programming.</p>
{% endblock %}
{% block experiment %}
<!-- experiment content -->
{% endblock %}

{% block manual %}
<!-- software content -->
<h4>Manual</h4>
<p>For each problem you have to write a program in C or C++. Each question is evaluted on test cases. An answer is correct only when all the test cases are cleared.</p>
{% endblock %}

{% block procedure %}
<h4>Procedure</h4>
<p>Procedure for the experiment is as follows.</p>
<ul>
 <li>  Write the code for the problem or upload a solution. </li>
 <li> Press the i button get info about the problem which you have to solve. </li>
 <li> If you are finding it difficult to solve the solution, then you can use the 4 levels of          incresingly descriptive hints, but try to use minimum number of hints. </li>
 <li> Compile the code by pressing the compile button. </li>
 <li> If code is not compling then correct the error and/or warnings. </li>
 <li> To execute the code and see output, press the execute button. </li>
 </ul>
{%endblock%}