{% extends 'psLab/basic.html'%}

{%block title%} Searching and Sorting {% endblock %}

{% block introduction %}
<!-- introduction content -->
<h4>Searching and Sorting</h4>
<p>Searching and Sorting are very important areas in computer science. Efficient sorting algorithms are required for optimizing the use of other algorithms that require sorted lists to work correctly, for example to do binary search sorting is required.We present two problems here based on variant of binary search and sorting. Hope you will appreciate them.</p>
<hr>
<h5>Problem 1</h5>
<p>You are given some set of numbers. By choosing three numbers we may be able to construct a triangle. In this problem we ask you to find out the number of invalid triangles formed from these set of numbers. The degenerate traiangles are considered to be valid traiangles.</p>
<strong>Input Specification</strong>
<p>Input contains N(&lt;= 1000), followed by N numbers in the next line.The numbers are separated by spaces and each number is > 0 and &lt; 10<sup>6</sup>.</p>
<strong>Output Specification</strong>
<p>Print the number of invalid traingles that can be formed.</p>
<strong>Sample Input and Output</strong>
<p>Input: 5 <br>
    1 2 3 4 10 <br>
    Output: 7
    </p>
    <hr>
<h5>Problem 2</h5>
<p>Given a String and a character set we need to find out the length of the smallest substring which contains all the characters of the set.</p>
<strong>Input Specification</strong>
<p>The input contains a string(length&lt;=10<sup>6</sup>) made up of small letters from english language followed by number of characters N(&lt; 26) and then N chracters in the next line follow separated by spaces.</p>
<strong>Output Specification</strong>
<p>The output must contain the length of the smallest substring which contains all the characters from the character set. If no such substring exists report -1.</p>
<strong>Sample Input and Output</strong>
<p>Input: applelooksred 3 e a p <br>
    Output: 5</p>
{%endblock%}

{% block theory %}
<!-- theory conteent -->
<h4>Theory</h4>
<hr>
<h5>Problem 1</h5>
<p>Consider three numbers from the set say a,b,c. If either a+b< c or b+c&lt; a or c+a&lt; b then (a,b,c) cannot form a triangle. Lets state the problem little differently for each pair (a,b) we want to find out how many numbers c are there such that a+b &lt; c. We consider each pair (a,b) and search for how many numbers are there which are greater than a+b. This can be done easily using binary search. Sort the array and consider the interval (start,end). If arr[mid]> a+b then (mid-end+1) numbers are greater than a+b otherwise if arr[mid]&lt; a+b then we don't add anything to the result and search in (start,mid-1).</p>
<hr>
<h5>Problem 2</h5>
<p>Consider the given string. We need to find the smallest substring which contains all the characters of the given set. Any substring which qualifies has to end with some character.For each index in the input string lets find out how much we have to extend from that point to the left so that we get all the characters in the input set. Lets say we are scanning the string from the left and we know the latest occurrences of the characters of input set in the input string, say they are stored in an array by name pos[]. From the i<sup>th</sup> character we need to extend to the minimum value in the pos[] array so that we get all the characters. For each index i we do this and report the minimum length.</p>
<hr>
{% endblock %}

{% block objective %}
<!-- objective content -->
<h4>Objective</h4>
<p>To learn to solve problems related to Searching and Sorting using Computer Programming.</p>
{% endblock %}
{% block manual %}
<!-- software content -->
<h5>Manual</h5>
<p>For each problem you have to write a program in C or C++. Each question is evaluted on test cases. An answer is correct only when all the test cases are cleared.</p>
{% endblock %}

{% block procedure %}
<h4>Procedure</h4>
<p>Procedure for the experiment is as follows.</p>
<ul>
 <li>  Write the code for the problem or upload a solution. </li>
 <li> Press the i button get info about the problem which you have to solve. </li>
 <li> If you are finding it difficult to solve the solution, then you can use the 4 levels of          incresingly descriptive hints, but try to use minimum number of hints. </li>
 <li> Compile the code by pressing the compile button. </li>
 <li> If code is not compling then correct the error and/or warnings. </li>
 <li> To execute the code and see output, press the execute button. </li>
 </ul>
{%endblock%}