{% extends 'homeBasic.html' %}

{% block title %} Civil  {%endblock%}
{% block css %}

ul {
    list-style-type: none;
}
{% endblock %}

{% block body %}

<br>
<div class="container"> 

    
    <h1><span class="badge badge-primary">Civil Engineering Subjects</span></h1>
        <ul>
            <li><a href="#">
                    <h3><span class="badge badge-info">Strength of materials</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">Fluid Mechanics</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">Hydraulics and Fluid Mechanic Lab</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">Structural Dynamics lab and Structural Analysis Lab</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">Basic Engineering Mechanics and Strength of Materials lab</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">Environmental Engineering Laboratory 1</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">Environmental Engineering Laboratory 2</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">Marine Structures Lab</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">Transportation Engineering Lab</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">Fluid Machinery Lab</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">Mining Geology Lab</span></h3>
                </a></li>
            <li><a href="#">
                    <h3><span class="badge badge-info">List of Civil Engineering Subjects</span></h3>
                </a></li>
            
        </ul>
    

</div>
{% endblock %}