{% extends 'homeBasic.html' %}

{% block title %} Computer Science {%endblock%}
{% block css %}

ul {
list-style-type: none;
}

{% endblock %}

{% block body %}

<br>
<div class="container">
  <h1><span class="badge badge-primary">List of Computer Science Engineering Subjects</span></h1>

  <ul>

  <li><a href="/computerOrganisationArchitecture">
      <h3><span class="badge badge-info">Computer Organization and Architecture Lab</span></h3>
    </a></li>
  <li><a href="/csoLab">
      <h3><span class="badge badge-info">Computer Systems Organization Lab</span></h3>
    </a></li>
  <li><a href="heLab">
      <h3><span class="badge badge-info">Hybrid Electronics Lab</span></h3>
    </a></li>
  <li><a href="dsLab">
      <h3><span class="badge badge-info">Data structures</span></h3>
    </a></li>
  <li><a href="beLab">
      <h3><span class="badge badge-info">Basic Electronics Virtual Lab</span></h3>
    </a></li>
  <li><a href="antLab">
      <h3><span class="badge badge-info">Advanced Network Technologies Virtual Lab</span></h3>
    </a></li>
  <li><a href="seLab">
      <h3><span class="badge badge-info">Software Engineering Lab</span></h3>
    </a></li>
  <li><a href="annLab">
      <h3><span class="badge badge-info">Artificial Neural Networks Lab</span></h3>
    </a></li>
  
  <li><a href="cgLab">
      <h3><span class="badge badge-info">Computer Graphics</span></h3>
    </a></li>
  <li><a href="cpLab">
      <h3><span class="badge badge-info">Computer Programming Lab</span></h3>
    </a></li>
  <li><a href="psLab">
      <h3><span class="badge badge-info">Problem Solving Lab</span></h3>
    </a></li>
  <li><a href="cg2lab">
      <h3><span class="badge badge-info">Computer Graphics</span></h3>
    </a></li>
  <li><a href="phpLab">
      <h3><span class="badge badge-info">Introduction to PHP</span></h3>
    </a></li>
  <li><a href="cnsLab">
      <h3><span class="badge badge-info">Computer Networking And Security</span></h3>
    </a></li>
  <li><a href="fcnLab">
      <h3><span class="badge badge-info">Fundamentals of Computer Networks</span></h3>
    </a></li>

  </ul>
</div>
{% endblock %}