{% extends 'homeBasic.html' %}

{% block title %} Electronics  {%endblock%}
{% block css %}

ul {
    list-style-type: none;
}
{% endblock %}

{% block body %}

<br>
<div class="container"> 
    <h1><span class="badge badge-primary">List of Electromics Engineering Subjects</span></h1>
  <ul>
    <li><a href="#">
      <h3><span class="badge badge-info">Basic Electronics</span></h3>
  </a></li>
<li><a href="#">
      <h3><span class="badge badge-info">Signals and System Lab</span></h3>
    </a></li>
    <li><a href="#">
          <h3><span class="badge badge-info">Analog Signals Network and Measurement Lab</span></h3>
      </a></li>
    <li><a href="#">
          <h3><span class="badge badge-info">Virtual Electric Circuits Lab</span></h3>
      </a></li>
    <li><a href="#">
          <h3><span class="badge badge-info">Computer Architecture & Organization Lab</span></h3>
      </a></li>
    <li><a href="#">
          <h3><span class="badge badge-info">Advanced Network Technologies Virtual Lab</span></h3>
      </a></li>
    <li><a href="#">
          <h3><span class="badge badge-info">Hybrid Electronics Lab</span></h3>
      </a></li>
    <li><a href="#">
          <h3><span class="badge badge-info">Digital Electronic Circuits</span></h3>
      </a></li>
    <li><a href="#">
          <h3><span class="badge badge-info">Digital Logic Design Lab</span></h3>
      </a></li>
    <li><a href="#">
          <h3><span class="badge badge-info">8051 Microcontroller and Applications</span></h3>
      </a></li>
    <li><a href="#">
          <h3><span class="badge badge-info">Digital Signal Processing</span></h3>
      </a></li>
    <li><a href="#">
          <h3><span class="badge badge-info">RF and Microwave Characterization Lab</span></h3>
      </a></li>
      <li><a href="#">
        <h3><span class="badge badge-info">Digital Applications</span></h3>
    </a></li>
  <li><a href="#">
        <h3><span class="badge badge-info">Digital Logic Design</span></h3>
    </a></li>
  <li><a href="#">
        <h3><span class="badge badge-info">Digital Electronics</span></h3>
    </a></li>
  <li><a href="#">
        <h3><span class="badge badge-info">Digital logic design using gates</span></h3>
    </a></li>
  <li><a href="#">
        <h3><span class="badge badge-info">Fundamentals of Computer Networks</span></h3>
    </a></li>
    <li><a href="#">
      <h3><span class="badge badge-info">Network Theory</span></h3>
  </a></li>
<li><a href="#">
      <h3><span class="badge badge-info">Integrated Circuits Analysis Lab</span></h3>
  </a></li>
<li><a href="#">
      <h3><span class="badge badge-info">Signals & Systems</span></h3>
  </a></li>
<li><a href="#">
      <h3><span class="badge badge-info">Power Electronics</span></h3>
  </a></li>
<li><a href="#">
      <h3><span class="badge badge-info">Digital Electronics</span></h3>
  </a></li>
  <li><a href="#">
    <h3><span class="badge badge-info">Analog Electronics</span></h3>
</a></li>
    
</ul> 
</div>
{% endblock %}