{% extends 'homeBasic.html' %}

{% block title %} Electricals {%endblock%}

{% block css %}

ul {
list-style-type: none;
}

{% endblock %}

{% block body %}

<br>
<div class="container">


  <h1><span class="badge badge-primary">List of Electrical Engineering Subjects</span></h1>

  <ul>

    <li><a href="#">
        <h3><span class="badge badge-info">Analog Signals Network and Measurement Lab</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Hybrid Electronics Lab</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Digital Signal Processing</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Digital Electronic Circuits</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Electrical Machines (COEP) Lab</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Electrical Machines (IITG) Lab</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Signals and System Lab</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Industrial Electric Drives Lab</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Virtual Electric Circuits Lab</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Computer Architecture & Organization Lab</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">8051 Microcontroller and Applications</h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Power Electronics</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Digital Applications</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Digital Logic Design</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Digital Electronics</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Digital logic design using gates</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Digital Electronics</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Electrical Machines (Simulation)</span></h3>
      </a></li>

  </ul>
</div>
{% endblock %}