{% extends 'homeBasic.html' %}

{% block title %} Mechanical {%endblock%}
{% block css %}

ul {
list-style-type: none;
}
{% endblock %}


{% block body %}
<br>
<div class="container">

  <h1><span class="badge badge-primary">List of Mechanical Engineering Subjects</span></h1>
  <ul>
    <li><a href="#">
        <h3><span class="badge badge-info">Mechanics of Materials/Strength of materials</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Metal Forming Lab</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Workshop and machine shop practice /General purpose lab for production shop
            simulation</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Kinematics of Machines/ Mechanics of Machine</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Metallurgy and Materials Engineering/Material response to micro-structural,
            mechanical, thermal, and biological stimuli</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Fluid Mechanics</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Applied Thermodynamics/RT Virtual lab on Automotive systems</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Turbo Machines / Fluid Machinery </span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Heat and Mass transfer</span></h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info" Dynamics of machines/ Machine Dynamics and Mechanical Vibrations Lab></span>
        </h3>
      </a></li>
    <li><a href="#">
        <h3><span class="badge badge-info">Computer aided design and manufacturing /Mechanisms and robotics lab </span>
        </h3>
      </a></li>

  </ul>
</div>
{%endblock%}